/* importando a fonte do Google */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Signika&display=swap');

 /* Texto principal */

.book.font-family-1 {
  font-family: 'Montserrat', sans-serif;
}


/* Cabeçalhos */
h1, h2, h3, h4 {
  font-family: 'Signika', sans-serif;
}

/* Título */
.title {
  font-family: 'Signika';
  font-size: 3em !important;
  color: #e82315;
  margin-top: 0.275em !important;
  margin-bottom: 0.35em !important;
}

/* Subtítulo */
.subtitle {
  font-family: 'Signika';
  color: #917ade;
}


/*
.book .book-body .page-wrapper .page-inner section.normal h1,
.book .book-body .page-wrapper .page-inner section.normal h2,
.book .book-body .page-wrapper .page-inner section.normal h3,
.book .book-body .page-wrapper .page-inner section.normal h4,
.book .book-body .page-wrapper .page-inner section.normal h5,
.book .book-body .page-wrapper .page-inner section.normal h6 {
    margin-top: 2.275em;
    margin-bottom: 1em;
}
*/






/*----- Links -------*/

.book .book-body .page-wrapper .page-inner section.normal a:link{
  color: #67aae0;
}

.book .book-body .page-wrapper .page-inner section.normal a:hover {
color: #1980d4; /* escurecer quando apontado */
background-color: #c4c4c4;
}

.book .book-body .page-wrapper .page-inner section.normal a:visited {
color: #d44e19;
}
