/* importando a fonte do Google */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Signika&display=swap');

 /* Texto principal */

.book.font-family-1 {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Signika', sans-serif;
}


.book .book-body .page-wrapper .page-inner section.normal h1,
.book .book-body .page-wrapper .page-inner section.normal h2,
.book .book-body .page-wrapper .page-inner section.normal h3,
.book .book-body .page-wrapper .page-inner section.normal h4,
.book .book-body .page-wrapper .page-inner section.normal h5,
.book .book-body .page-wrapper .page-inner section.normal h6 {
    margin-top: 2.275em;
    margin-bottom: 1em;
}

.title {
  font-family: 'Signika';
  font-size: 3em !important;
  color: #3d557d;
  margin-top: 0.275em !important;
  margin-bottom: 0.35em !important;
}

.subtitle {
  font-family: 'Signika';
  color: #d624c1;
}




/*-----Body Links-------*/

.book .book-body .page-wrapper .page-inner section.normal a {
  color: #6530d9;
}

.book .book-body .page-wrapper .page-inner section.normal a:hover {
color: #2f068a; /* darker color when hovering */
}
